<div class="container">

  <div class="player">

    <div class="player__controls">

      <div class="player__btn player__btn--medium blue play" id="play">
        <button class="player__btn player__btn--medium blue play" ><i class="fi fi-sr-play"></i></button>
      </div>

      <div class="player__btn player__btn--medium" id="pause">
        <button  class="player__btn player__btn--medium" ><i class="fi fi-sr-pause"></i></button>
      </div>

      <div class="player__btn player__btn--medium" id="stop">
        <button  class="player__btn player__btn--medium" ><i class="fi fi-sr-stop"></i></button>
      </div>

    </div>



  </div>

</div>

