/* HeroesComponent's private CSS styles */
.container {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.player {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


}

#play {
  padding: 0px 15px 0px 15px;
}

#pause {
  padding: 0px 15px 0px 15px;
}

#stop {
  padding: 0px 15px 0px 15px;
}

button {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  border-style: none;
  padding-top: 6px;
}

button:hover {
  color: white;
  background-color: #9bdea4;
}

i {
  font-size: 20px;
  padding-top: 10px;
}

.player__controls {
  /*width: 95%;*/
  justify-content: space-evenly;
  align-items: center;
  display: inline-flex;
  padding: 15px;
}
