<div class="container">

  <div class="list">

    <div class="filtros">

      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar canciones">

    </div>

      <ul class="songs">
        <li *ngFor="let song of songs"
            [class.selected]="song === selectedSong"
            (click)="onSelect(song)">
          <div class="songlist">
            <div class="portada"><img src="{{song.image}}" class="miniportada"></div>
            <div class="titulo">{{song.tittle}}</div>
            <div class="subtitulo">{{song.subtittle}}</div>
          </div>
        </li>
      </ul>

  </div>

</div>






